.label.label-lg.label-inline {
    width: auto;
}
.label.label-inline.label-lg {
    padding: .9rem .75rem;
}
.label.label-lg {
    height: 24px;
    width: 24px;
    font-size: .9rem;
}
.label.label-inline {
    width: auto;
}
.label.label-inline {
    width: auto;
    padding: .15rem .75rem;
    border-radius: .42rem;
}
.label.label-light-danger {
    color: #f64e60;
    background-color: #ffe2e5;
}

.label.label-light-success {
    color: #1bc5bd;
    background-color: #c9f7f5;
}

.label.label-light-warning {
    color: #ffa800;
    background-color: #fff4de;
}

.label {
    padding: 0;
    margin: 0;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    font-size: .8rem;
    background-color: #ecf0f3;
    color: #464e5f;
    font-weight: 400;
    height: 20px;
    width: 20px;
    font-size: .8rem;
  }

  .pull-right {
    float: right !important;
}
.btn-sinHover:hover{
  background-color: #f3f6f9 !important;
}
